@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
	font-family: 'VT323', monospace;
}

body {

}

.contenido {
	position: fixed;
}

.pantalla {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}

.hoja {
	width: 100%;
	margin: auto;
	margin-bottom: 40vh;
}

.inventario {
}
